/* html {
  box-sizing: border-box;
} */

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

/* * {
  outline: solid tomato;
} */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-2: #ffffff;
  --background-color: #2f303a;
  --logo-color: #000;
  --background-color-2: #f5f4fa;
  --address-color: #fff;
  --address-color-2: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0 auto;
  padding: 0px;

  font-family: 'Roboto', sans-serif;
}

ul,
li {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;

  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header .container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

nav {
  display: flex;
}

.nav-list {
  display: flex;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.nav-list .item:not(:last-child),
.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link,
.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

.logo span {
  color: var(--logo-color);
}

.footer .logo span {
  color: var(--accent-color-2);
}

.footer .logo {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  margin-right: auto;
}

.nav-list .link {
  display: block;

  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1, 14;
  text-transform: capitalize;
}

.nav-list .link:hover,
.nav-list .link:focus,
.nav-list .link.current {
  color: var(--accent-color);
}

.contacts .link {
  display: block;

  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.hero {
  padding-bottom: 200px;
  padding-top: 200px;

  background-color: var(--background-color);
  text-align: center;
}

.hero .title {
  margin: 0px;
  margin-bottom: 30px;

  color: var(--accent-color-2);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
  /* background: green; */
}

.button {
  display: inline-block;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--background-color-2);
  text-align: center;
}

.hero .button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--accent-color-2);
  background-color: var(--accent-color);
}

.button:hover,
.button:focus,
.filter .button:hover,
.filter .button:focus {
  color: var(--accent-color-2);
  background-color: var(--accent-color);
}

.filter .button {
  border-radius: 4px;
  padding: 6px 22px;
  /* margin-bottom: 34px; */

  color: var(--title-text-color);
  background-color: var(--background-color-2);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background: red; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
}

.features-list .item {
  width: 270px;
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}
.features .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  /* background: blue; */
}

.features p {
  margin-bottom: 0px;
  margin-top: 0px;

  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  /* background: #000; */
}

.features p::first-letter {
  text-transform: capitalize;
}

.services {
  padding-top: 0px;
  padding-bottom: 94px;
  /* background: green; */
}

.services-list,
.team-list {
  display: flex;
}

.services .item:not(:last-child) {
  margin-right: 30px;
}

.services .title,
.team .title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: center;
}

.services .title::first-letter,
.team .title::first-letter {
  text-transform: capitalize;
}

/* .services img {
  display: block;
} */

.team {
  padding-bottom: 94px;
  padding-top: 94px;

  background-color: var(--background-color-2);
  text-align: center;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

/* .team h2 {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
} */

/* .team img {
  margin-bottom: 30px;
  display: block;
} */

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.team-list .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  /* background: teal; */
}

.team p {
  margin-bottom: 0px;
  /* margin-bottom: 30px; */

  color: var(--primary-text-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  /* background: tomato; */
}

.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;

  background-color: var(--accent-color-2);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-color);
  font-style: normal;
}

.map {
  color: var(--address-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

/* address p {
  margin-bottom: 9px;
} */

address .link {
  display: block;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-color-2);
}

address .link:not(:last-child) {
  margin-bottom: 9px;
}

/* Portfolio */

.our-works {
  padding: 94px 0;
  margin: 0px;
  /* background: blue; */
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter .item:not(:last-child) {
  margin-right: 9px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery .item {
  width: 370px;
}

.gallery .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.gallery .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

/* .gallery-img {
  display: block;
  width: 370px;
  height: 294px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
} */

.gallery-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /* background: green; */
}

.gallery-work {
  /* margin-bottom: 20px; */

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  /* background: tomato; */
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.gallery .link {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  /* border: 1px solid #eeeeee; */
}

.card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
