html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-2: #ffffff;
  --background-color: #2f303a;
  --logo-color: #000;
  --background-color-2: #f5f4fa;
  --address-color: #fff;
  --address-color-2: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0px;
}

ul {
  list-style: none;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  line-height: 1.19;
}

.logo span {
  color: var(--logo-color);
}

footer .logo span {
  color: var(--accent-color-2);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.nav-list .link {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-transform: capitalize;
}

.nav-list .link:hover,
.nav-list .link:focus,
.nav-list .link.current {
  color: var(--accent-color);
}

.contacts a {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero h1 {
  margin: 0px;
  margin-bottom: 30px;
  color: var(--accent-color-2);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 2.64px;
  line-height: 1.36;
  text-transform: uppercase;
  /* background: green; */
}

.button {
  display: inline-block;
  color: var(--title-text-color);
  background-color: var(--background-color-2);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
}

.button:hover,
.button:focus,
.filter .button:hover,
.filter .button:focus {
  color: var(--accent-color-2);
  background-color: var(--accent-color);
}

.filter .button {
  color: var(--title-text-color);
  background-color: var(--background-color-2);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
  padding: 6px 22px;
  margin-bottom: 34px;
}

/* .button:hover,
.button:focus {
  color: var(--accent-color-2);
  background-color: var(--accent-color);
} */

/* .button */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background: red; */
}
.features h3 {
  color: var(--title-text-color);
  font-size: 14px;
  letter-spacing: 0.42px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  /* background: blue; */
}

.features p {
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 1.71;
  margin-bottom: 0px;
  margin-top: 0px;
  /* background: #000; */
}

.features p::first-letter {
  text-transform: capitalize;
}
.services {
  padding-top: 0px;
  padding-bottom: 94px;
  /* background: green; */
}
.services h2,
.team h2 {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 50px;
}

.services h2::first-letter,
.team h2::first-letter {
  text-transform: capitalize;
}

.team {
  background-color: var(--background-color-2);
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
}

/* .team h2 {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
} */

.team img {
  margin-bottom: 30px;
}
.team h3 {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.team p {
  color: var(--primary-text-color);
  font-size: 16px;
  letter-spacing: 0.48px;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.team li {
  background-color: var(--accent-color-2);
}

footer {
  background-color: var(--background-color);
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
}

.map {
  color: var(--address-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
  /* margin-bottom: 9px; */
}

address p {
  margin-bottom: 9px;
}

address .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-color-2);
}

/* Portfolio */

header {
  background: red;
}

.our-works {
  padding: 94px 0;
  margin: 0px;
  background: blue;
}

/* .filter :hover,
.filter :focus {
  color: var(--accent-color-2);
  background-color: var(--accent-color);
} */

.gallery-img {
  width: 370;
  height: 294;
  margin-bottom: 0px;
}

.gallery-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  background: green;
}

.gallery-work {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  background: tomato;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.gallery a {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}
